/* common css */
input, select {
	box-sizing: border-box;
}
/* define_right switch bar */
#TABS {
    height: 30px;
    vertical-align: bottom;
}
.unselect {
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: none;
}

#header {
	height: 29px;
	overflow: hidden;
	padding: 0 14px 0 12px;
	margin: 0;
}

#xmls {
	position: absolute;
	left: 0;
	top: 30px;
	bottom: 0px;
	width: 200px;
	overflow: auto;
	z-index: 0;
}

#xmls #EWA_FRAME_MAIN {
	margin: 10px;
}

#tabsmain {
	position: absolute;
	left: 201px;
	top: 30px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	z-index: 0;
}

#tabsmain #EWA_FRAME_MAIN {
	margin: 0px;
	height: 100%;
}

#split {
	position: absolute;
	left: 200px;
	top: 30px;
	bottom: 0px;
	width: 5px;
	cursor: ew-resize;
	z-index: 1;
	background: rgba(111, 111, 111, 0.1);
}

#split:hover {
	background: rgba(111, 111, 111, 0.9);
}

#split_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0;
	z-index: 4;
	background: transparent;
	z-index: 4;
	display: none;
}

#TD2 {
	padding: 0px;
}

.ewa_menu_m0 {
	margin-left: 4px;
	background-size: cover;
	background-position: center;
	margin-right: 1px;
}

.ewa_menu_m, .ewa_menu_m1, .ewa_menu_m_mv1 {
	padding: 0;
	line-height: 29px;
}

.ewa_menu_table .ewa_menu_m, .ewa_menu_table .ewa_menu_m1,
	.ewa_menu_table .ewa_menu_m_mv1 {
	height: 29px;
}

.ewa_menu_m0 img {
	width: 12px;
	height: 12px;
	margin-right: 4px;
	margin-left: 4px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.ewa_menu_m0.fa {
	line-height: 16px;
	font-size: 14px;
	text-align: right;
}

table.ewa_menu_table {
	margin-right: 5px;
}

.ewa_menu_m_mv1 .ewa_menu_m0 img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

.EWA_MENU1 {
	height: 29px;
	line-height: 29px;
}

.EWA_MENU1 .ewa_menu_m1 {
	padding: 0;
	height: 29px;
	line-height: 29px;
}

.EWA_MENU1 .ewa_menu_m {
	padding: 0;
	height: 29px;
	line-height: 29px;
}

.EWA_MENU1 .ewa_menu_m_mv1 {
	padding: 0;
	height: 29px;
	line-height: 29px;
}

.ewa-dialog>div {
	display: none;
}

.ewa-dialog>div.EWA_POP_MAIN {
	display: block;
}

.bg_l, .bg_r {
	display: none;
}

.bg_c {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.ewa_tab_dact .bg_c span {
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	float: left;
}

.but0, .but1 {
	border-top: 0 !important;
	display: block;
	float: left;
	padding: 0 5px;
	margin-left: 5px;
	line-height: 25px;
	cursor: pointer;
	min-width: 70px;
	text-align: center;
}

.but0:hover {
	color: red !important;
}

/*define right*/
table, td, input, select, span, body {
	border: 0;
}

#tabs {
	padding-bottom: 4px;
}

td#props tr, #props table {
	background: transparent;
}

#props {
	width: 278px;
}

#props *, #xmls * {
	font-family: monospace;
}

#props #aa {
	margin: 4px;
}

#props input[type=button] {
	padding: 0;
}

#props input[ewa_value] {
	width: 100% !important;
}

#tbMain td {
	white-space: nowrap;
}

select[size] {
	height: auto !important;
}

.ewa_lf_func_caption {
	padding: 0px 5px;
	font-size: 14px;
	line-height: 30px;
}

.ewa_lf_func_dact, .ewa_lf_func_act {
	padding: 0px 5px;
	font-size: 14px;
	line-height: 30px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
} /* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
	background-color: rgba(77, 77, 77, 0.4);
	border: 1px solid #afafaf;
	border-radius: 5px
} /* 滑块颜色 */
::-webkit-scrollbar-button {
	
} /* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
	background-color: rgba(77, 77, 77, 0.4);
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
#__EWA_DEBUG {
	display: none;
}