html {
	height: 100%;
	width: 100%;
}

body {
	min-width: 320px;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Verdana;
	position: relative;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: red;
}

html, body, a, button, input, textarea {
	-webkit-tap-highlight-color: transparent;
}

h1 {
	font-size: 24px;
	font-weight: normal;
}

h2 {
	font-size: 18px;
	font-weight: normal;
}
/* section 滚动条的宽度 */
.iScrollVerticalScrollbar {
	width: 4px !important;
}
/* PointerEvent cause iScroll can't work. */
.iscroller {
	touch-action: none;
}
/* section 页面里的大型添加按钮 */
.ewa-app-large-add-btn {
	display: block;
	text-align: center;
	line-height: 200px;
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	color: green;
	font-size: 20px;
	height: 200px;
	margin-top: 40px;
}

.ewa-app-large-add-btn:before {
	content: "+";
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	font-size: 30px;
	border-radius: 100%;
	background: darkgreen;
	width: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	margin-left: -30px;
}
/* 图标上红色提示图标 */
.ewa-app-badges {
	display: block;
	min-width: 18px;
	height: 18px;
	position: absolute;
	background: red;
	right: -9px;
	top: -9px;
	border-radius: 9px;
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
	line-height: 18px;
	background-color: red;
	color: #fff;
	font-size: 12px;
	padding-left: 2px;
	padding-right: 2px;
	box-sizing: border-box;
}

/* 导航栏按钮 */
.ewa-app-btn {
	display: none;
	position: absolute;
	top: 22px;
	font-size: 35px;
	color: #fff;
	z-index: 200; /* 在其它层之上 section#foot-me>div.content */
	width: 40px;
	font-family: FontAwesome;
	line-height: 38px;
	height: 38px;
}

.ewa-app-btn a {
	display: block;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
/* 返回 */
.ewa-app-btn-back {
	text-align: left;
	padding-left: 10px;
	display: block;
}

.ewa-app-btn-back:before {
	content: "\f104";
}
/* 小程序上的返回按钮触发浏览器的back */
.xcx .ewa-app-btn-back {
	display: none;
}
/* 新增，更多 */
.ewa-app-btn-add, .ewa-app-btn-more {
	text-align: right;
	padding-right: 15px;
	right: 0;
	font-size: 25px;
}

.ewa-app-btn-add:before {
	content: "\f067";
}

.ewa-app-btn-more:before {
	content: "\f0c9";
}

.landscape .ewa-app-btn {
	top: 5px;
}

.android .ewa-app-btn {
	top: 5px;
}

.landscape .ewa-app-btn-back, .android .ewa-app-btn-back {
	top: 3px;
}

/* 弹出窗体返回按钮 */
section.ewa-app-pop .ewa-app-btn-back {
	top: 3px;
	left: initial;
	right: 0;
	text-align: right;
	padding-right: 5px;
	font-size: 25px;
	display: block;
}

section.ewa-app-pop .ewa-app-btn-back:before {
	content: "\f00d";
	background: none;
	box-shadow: none;
}

/* 微信下的按钮 */
.wechat .ewa-app-btn:before {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 100%;
	background: rgba(196, 179, 238, 0.58); /* #c4b3ee */
	box-shadow: 1px 1px 11px #ccc;
	text-align: center;
	padding: 0;
	margin: 0;
	display: block;
}
/* 老的样式 */
#header_but_back, .header_but_back_fack_home {
	position: absolute;
	left: 10px;
	top: 22px;
	font-size: 35px;
	display: none;
	color: #fff;
	z-index: 2;
	width: 40px;
}

.landscape #header_but_back, .landscape .header_but_back_fack_home,
	.android #header_but_back, .android .header_but_back_fack_home {
	top: 3px;
}

.landscape .header-right-func, .landscape #header_but_plus, .android .header-right-func,
	.android #header_but_plus {
	top: 5px;
}

#header_but_plus, .header-right-func {
	position: absolute;
	right: 10px;
	top: 22px;
	z-index: 2;
	width: 40px;
	text-align: center;
	display: none;
}

.header-right-func {
	color: #fff;
	display: block;
	line-height: 35px;
	text-align: right;
	padding-right: 5px;
}

#header_but_plus a, #header_but_back a {
	font-size: 25px;
	color: #fff;
	display: block;
	line-height: 35px;
}

/* 微信下的按钮 */
.wechat #header_but_back {
	d1isplay: none;
}

.wechat #header_but_plus, .wechat #header_but_back, .wechat .header_but_back_fack_home,
	.wecbat .header-right-func {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 100%;
	background: rgba(196, 179, 238, 0.58); /* #c4b3ee */
	box-shadow: 1px 1px 11px #ccc;
	text-align: center;
	padding: 0;
	margin: 0;
}

.wechat #header_but_plus a, .wechat #header_but_back a {
	display: inline;
}

section>.content a.act {
	background: rgba(204, 204, 204, 0.1);
}

.p-rel {
	position: relative;
}

.p-abs {
	position: absolute;
}

/* 取消ios */
input[type=button], input[type=submit] {
	-webkit-appearance: none;
}

#slider_bar {
	position: fixed;
	right: 2px;
	width: 3px;
	background: rgba(121, 121, 121, 0.9);
	height: 0px;
	top: 0;
	z-index: 199999;
}

header {
	width: 100%;
	height: 60px;
	background-color: #6f5499;
	color: #fff;
	text-align: center;
}

.landscape header {
	height: 40px;
}

header h1 {
	padding: 0;
	line-height: 20px;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 30px 40px 0 30px;
}

.landscape header h1 {
	margin-top: 10px;
}

section {
	flex-direction: column;
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	background-color: #f1f1f1;
	-webkit-backface-visibility: hidden;
}
/* 向上弹出 */
section.ewa-app-pop {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	top: 30px;
	height: auto !important;
	width: auto !important;
	box-shadow: 1px 1px 11px #ccc;
	background: #fff;
	overflow: visible;
}
/* 覆盖弹出窗体背景，避免点击外面的事件 */
section.ewa-app-pop:before {
	content: "";
	position: absolute;
	left: -10px;
	top: -30px;
	right: -10px;
	bottom: -10px;
	height: auto;
	background-image: none;
}

section.ewa-app-pop header {
	background: #eee;
	color: #000;
	height: 40px;
}

section.ewa-app-pop header h1 {
	line-height: 40px;
	margin: 0;
}

section.firstsection {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
}

section>div.content {
	flex: 1;
	overflow: hidden;
	position: relative;
}

section .iscroller {
	
}

section.ewa-app-pop>div.content {
	/*top: 40px;
	padding: 5px 10px;*/
	box-sizing: border-box;
}

.landscape section>div.content {
	top: 40px;
}

section ul {
	margin: 0;
	padding: 0;
}

section ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

section .reloading {
	padding-top: 30px;
}

section .reloading:before {
	content: '数据加载中...';
	position: absolute;
	display: block;
	top: 0;
	line-height: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
}
.enus section .reloading:before {
	content: 'Loading...';
}
section .loadingmore {
	
}

section .loadingmore-scroller {
	margin-top: -30px;
}

section .loadingmore:after {
	content: '数据加载中...';
	position: absolute;
	display: block;
	bottom: 0;
	line-height: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
}
.enus section .loadingmore:after {
	content: 'Loading...';
}
select, input, textarea {
	font-size: inherit;
}

section select, section input {
	-webkit-appearance: none;
}

section {
	font-size: 16px;
}

.duration {
	transition-duration: 0.6s;
}

footer {
	width: 100%;
	height: 50px;
	background-color: #6f5499;
	border-top: 1px solid #6f5499;
	position: relative;
	z-index: 101;
	box-sizing: border-box;
}

section.ewa-app-pop footer {
	height: 45px;
}

footer table, header table {
	margin: 0;
	height: 100%;
	border-spacing: 0;
	width: 100%;
}

footer td, header td {
	padding: 0;
}

footer table.p5>tbody>tr>td, header table.p5>tbody>tr>td {
	width: 20%;
}

footer table.p3>tbody>tr>td, herder table.p3>tbody>tr>td {
	width: 33.3333%;
}

footer .ft-item {
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
}

footer .ft-item-cur:before {
	content: "";
	width: 10px;
	height: 10px;
	display: block;
	background-color: #6f5499;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	top: -5px;
	transform: rotate(45deg);
}

footer .fa {
	font-size: 25px;
	margin-top: 7px;
}

footer .ft-item-txt {
	font-size: 10px;
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

footer .footer-badges{
	color:red;
	display: none;
}
footer .footer-badges:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    background: red;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: -18px;
}

/* 下拉放大图片的 iscroll 的 div */
.ewa-app-iscrollscale .iscroller {
	position: relative;
	z-index: 100;
}
/* 下拉放大图片的 iscroll 的 放大对象 */
.ewa-app-iscrollscale-target {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 220px;
	z-index: 1;
	background-size: cover;
}
/* 友情提示 */
.tips {
	margin: 10px;
	padding: 10px;
	border: 1px solid darkgoldenrod;
	background-color: lightyellow;
	font-size: 14px;
}

.tips:before {
	font-family: fontawesome;
	content: '\f0eb';
	font-size: 19px;
	color: chocolate;
	margin-right: 5px;
}

.scroll-delete {
	background: #ff3838;
	position: absolute;
	display: none !important;
	color: #fff;
	top: 0;
	right: -120px;
	height: 100%;
	width: 120px;
	text-align: center;
}

.scroll-delete span {
	position: absolute;
	display: block;
	color: #fff;
	top: 50%;
	left: 0;
	height: 26px;
	line-height: 26px;
	width: 100%;
	text-align: center;
	margin-top: -13px;
	width: 100%;
}

.scroll-delete input[type=button] {
	background: transparent;
	color: #fff;
	width: 100%;
	height: 100%;
	border: 0;
	box-shadow: none;
	text-shadow: none;
	margin: 0;
	padding: 0;
}

.scroll-delete-active {
	/* left: -120px; */
	transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
	transform: translate(-120px, 0);
	transition-duration: 0.5s;
}

.scroll-delete-active .scroll-delete {
	display: block !important;
}

.scroll-delete-deactive {
	transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
	transform: translate(0, 0) !important;
	transition-duration: 0.3s;
}

/* form 底部添加高度 */
.ewa-app-bottom-append {
	height: 111px;
}
/* 安卓手机 */
.android #header_but_back {
	top: 2px;
}

.android #header_but_plus {
	top: 4px;
}

.android header {
	height: 40px;
}

.android header h1 {
	margin-top: 12px;
}

.android section>div.content {
	/*top: 40px;*/
	
}

/*
查看图片
*/
#bbs-pic-view-box {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	overflow: auto;
}

#bbs-pic-view-box a.close {
	position: fixed;
	right: 30px;
	top: 30px;
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 30px;
	text-shadow: 1px 1px 11px #000;
}

#bbs-pic-view-box a.bbs-pic-view-share {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #0099cc;
	font-size: 30px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	background: rgba(78, 177, 197, 0.3);
	text-align: center;
	box-shadow: 0px 0px 11px #999;
}
/* 小程序下，分享失效 */
.xcx #bbs-pic-view-box a.bbs-pic-view-share {
	display: none;
}

#bbs-pic-view-box1 {
	width: 100%;
	height: 100%;
	overflow: auto;
}

#bbs-pic-view-file {
	width: 100%;
	height: 100%;
}

.file-view-ppt img, .oa-doc-view img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

#bbs-pic-view-box .loadingInProgress {
	width: 100%;
	height: 100%;
}

#bbs-pic-view-box .oa-doc-view {
	background: #fff;
	padding: 10px;
}

#bbs-pic-view-box .view-large-image .page {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	table-layout: fixed;
}

#bbs-pic-view-box .view-large-image .page .imga {
	max-width: 100%;
	max-height: 100%;
	amargin-left: 20px;
}

#bbs-pic-view-box .view-large-image .page td {
	text-align: center;
}

#bbs-pic-view-box .view-large-image #log {
	position: fixed;
	top: 40%;
	left: 0;
	background: #fff;
	height: 20px;
	width: 100%;
}

#bbs-pic-view-box .view-large-image .cur {
	color: gold;
}

#bbs-pic-view-box .view-large-image #page1 {
	position: fixed;
	left: 0px;
	height: 30;
	width: 100%;
	overflow: hidden;
	bottom: 5px;
	z-index: 3;
	color: #ccc;
	font-size: 13px;
}

#bbs-pic-view-box .view-large-image .list0 {
	background-position: center center;
	background-repeat: no-repeat;
}
/* 文件分享到朋友圈  */
a.ewa-app-lf-menu-item.ref-id-timeline:before {
	content: "a";
	display: inline-block;
	width: 32px;
	height: 40px;
	color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image:
		url(/static/images/share/icon_res_download_moments.png);
}
/* 文件分享到朋友圈  */
a.ewa-app-lf-menu-item.ref-id-session:before {
	content: "a";
	display: inline-block;
	width: 32px;
	height: 40px;
	color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/static/images/share/icon64_wx_logo.png);
}

/* iphone x */
@media only screen and (device-width: 375px) and (device-height: 812px)
	and (-webkit-device-pixel-ratio:3) {
	.header_but_back_fack_home, #header_but_back, #header_but_plus,
		.header-right-func, .ewa-app-btn {
		top: 36px;
	}
	header {
		height: 74px;
	}
	header>div {
		padding-top: 30px;
	}
	header h1 {
		margin-top: 44px;
	}
	section>div.content {
		bottom: 74px;
		top: 0;
	}
	footer {
		height: 74px;
		padding-bottom: 24px;
	}
	section.ewa-app-pop footer {
		height: 70px;
	}
	.ewa-app-lf-menu.ewa-ddl-box {
		padding-bottom: constant(safe-area-inset-bottom); /* 34px */
	}
	.login .EWA_TABLE {
		margin-top: constant(safe-area-inset-top);
	}
}
/* iphone xmax */
@media only screen and (device-width: 414px) and (device-height: 896px)
	and (-webkit-device-pixel-ratio:3) {
	.header_but_back_fack_home, #header_but_back, #header_but_plus,
		.header-right-func, .ewa-app-btn {
		top: 36px;
	}
	header {
		height: 74px;
	}
	header>div {
		padding-top: 30px;
	}
	header h1 {
		margin-top: 44px;
	}
	section>div.content {
		bottom: 74px;
		top: 0;
	}
	footer {
		height: 74px;
		padding-bottom: 24px;
	}
	section.ewa-app-pop footer {
		height: 70px;
	}
	.ewa-app-lf-menu.ewa-ddl-box {
		padding-bottom: constant(safe-area-inset-bottom); /* 34px */
	}
	.login .EWA_TABLE {
		margin-top: constant(safe-area-inset-top);
	}
}
/* iphone xr */
@media only screen and (device-width: 414px) and (device-height: 896px)
	and (-webkit-device-pixel-ratio:2) {
	.header_but_back_fack_home, #header_but_back, #header_but_plus,
		.header-right-func, .ewa-app-btn {
		top: 36px;
	}
	header {
		height: 74px;
	}
	header>div {
		padding-top: 30px;
	}
	header h1 {
		margin-top: 44px;
	}
	section>div.content {
		bottom: 74px;
		top: 0;
	}
	footer {
		height: 74px;
		padding-bottom: 24px;
	}
	section.ewa-app-pop footer {
		height: 70px;
	}
	.ewa-app-lf-menu.ewa-ddl-box {
		padding-bottom: constant(safe-area-inset-bottom); /* 34px */
	}
	.login .EWA_TABLE {
		margin-top: constant(safe-area-inset-top);
	}
}