.ewa_lmenu_bar, .ewa_lmenu_bar_mv {
	position: relative;
	padding: 5px;
}

.ewa-lmenu-children .ewa_lmenu_bar::after,
.ewa-lmenu-children .ewa_lmenu_bar_mv::after {
	content: "\f0da";
	font-family: fontawesome;
	display: block;
	position: absolute;
	top: 50%;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	line-height: 20px;
}

.ewa-lmenu-children.ewa-lmenu-show .ewa_lmenu_bar::after,
.ewa-lmenu-children.ewa-lmenu-show .ewa_lmenu_bar_mv::after
{
	content: "\f0d7";
}

.ewa_lmenu_bar1, .ewa_lmenu_bar1_mv {
	padding: 5px 10px;
}

.ewa_lmenu_bar_mv, .ewa_lmenu_bar1_mv {
	background-color: lightskyblue;
}

.ewa-lmenu .fa {
	color: #08c;
	text-align: center;
}

/* 菜单图标 */
.ewa_menu_m0 {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

/* 菜单文字 */
.ewa_menu_m1 {
	height: 17px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

/* 菜单条目主样式 */
.ewa_menu_m {
	padding-left: 5px;
	padding-top: 2px;
}

/* 下拉菜单条目选中主样式 */
.ewa_menu_m_mv1 {
	padding-left: 5px;
	padding-top: 2px;
	background-color: #ddd;
}

/* 菜单条目分割 */
.ewa_menu_split {
	border-top: 1px solid #ccc;
	margin-top: 1px;
	margin-bottom: 1px;
}

/* 主菜单栏样式 */
.EWA_MENU {
	background-color: #fff;
	box-shadow: 3px 3px 6px -2px #ccc;
	border-bottom: 1px solid #ccc;
}