/* 页舌 主样式 */
.ewa_tab {
	height: 30px;
	border-bottom: 3px solid #4675a3;
	background-color: #f8f8f8;
}

/* 页舌 当前 */
.ewa_tab_act {
	height: 25px;
	cursor: pointer;
	margin-left: 4px;
	margin-right: 2px;
	float: left;
}

/* 页舌 当前文字部分 */
.ewa_tab_act .bg_c {
	background-color: #4675a3;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

/* 页舌 当前左边 */
.ewa_tab_act .bg_l {
	background-image:
		url(data:image/gif;base64,R0lGODlhHAAgAMQdAMDAwPn5+VF9qOLi4vX19cHBwZ22zuXs8sTExN7n74ypxtHR0XiavOPj41N/qfb29pmzzP7+/tnZ2WSMstbg6vr6+vj6/IGhwNrj7ff393KVub+/v0Z1o////wAAAAAAACH5BAEAAB0ALAAAAAAcACAAAAW9YCeOGDaeaFWhpwU5HOdAFtsRy7YtBJtMsSBnkkA1CjpdoXE6CIRCwWE0SFo3g5EGCtWIHoBrEvDoULhcSkcitko6BjTU0EG0k4jORS68BO5WAVt8MRoZgEkZg4SGiDqKhIWHjpCRjZSLfJeIlYyTnJlym4Cdmp+koWijd6Wip6ypXKttraqvtLFdt2K1srtXvbqOG8FCs7y5xr9WxUHHwMnOy4nRksPN1piRHM/MDNsMf44BCtsKEWGAABEhADs=);
	background-position: 0px 0em;
	background-repeat: no-repeat;
	width: 7px;
	font-size: 1px;
}

/* 页舌 当前右边 images/tabs.gif*/
.ewa_tab_act .bg_r {
	background-image:
		url(data:image/gif;base64,R0lGODlhHAAgAMQdAMDAwPn5+VF9qOLi4vX19cHBwZ22zuXs8sTExN7n74ypxtHR0XiavOPj41N/qfb29pmzzP7+/tnZ2WSMstbg6vr6+vj6/IGhwNrj7ff393KVub+/v0Z1o////wAAAAAAACH5BAEAAB0ALAAAAAAcACAAAAW9YCeOGDaeaFWhpwU5HOdAFtsRy7YtBJtMsSBnkkA1CjpdoXE6CIRCwWE0SFo3g5EGCtWIHoBrEvDoULhcSkcitko6BjTU0EG0k4jORS68BO5WAVt8MRoZgEkZg4SGiDqKhIWHjpCRjZSLfJeIlYyTnJlym4Cdmp+koWijd6Wip6ypXKttraqvtLFdt2K1srtXvbqOG8FCs7y5xr9WxUHHwMnOy4nRksPN1piRHM/MDNsMf44BCtsKEWGAABEhADs=);
	background-position: -7px 0px;
	background-repeat: no-repeat;
	width: 7px;
	font-size: 1px;
}

/* 页舌 非当前 */
.ewa_tab_dact {
	height: 25px;
	cursor: pointer;
	margin-left: 4px;
	margin-right: 2px;
	float: left;
}

/* 页舌 非当前 文字 */
.ewa_tab_dact .bg_c {
	background-color: #bfbfbf;
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
}

.ewa_tab_dact .bg_c span {
	max-width: 100px;
	overflow: hidden;
	display: inline-block;
	float: left;
	text-overflow: ellipsis;
}
/* 页舌 非当前 左边框 */
.ewa_tab_dact .bg_l {
	background-image:
		url(data:image/gif;base64,R0lGODlhHAAgAMQdAMDAwPn5+VF9qOLi4vX19cHBwZ22zuXs8sTExN7n74ypxtHR0XiavOPj41N/qfb29pmzzP7+/tnZ2WSMstbg6vr6+vj6/IGhwNrj7ff393KVub+/v0Z1o////wAAAAAAACH5BAEAAB0ALAAAAAAcACAAAAW9YCeOGDaeaFWhpwU5HOdAFtsRy7YtBJtMsSBnkkA1CjpdoXE6CIRCwWE0SFo3g5EGCtWIHoBrEvDoULhcSkcitko6BjTU0EG0k4jORS68BO5WAVt8MRoZgEkZg4SGiDqKhIWHjpCRjZSLfJeIlYyTnJlym4Cdmp+koWijd6Wip6ypXKttraqvtLFdt2K1srtXvbqOG8FCs7y5xr9WxUHHwMnOy4nRksPN1piRHM/MDNsMf44BCtsKEWGAABEhADs=);
	background-position: -14px 0px;
	background-repeat: no-repeat;
	width: 7px;
}

/* 页舌 非当前 右边框 */
.ewa_tab_dact .bg_r {
	background-image:
		url(data:image/gif;base64,R0lGODlhHAAgAMQdAMDAwPn5+VF9qOLi4vX19cHBwZ22zuXs8sTExN7n74ypxtHR0XiavOPj41N/qfb29pmzzP7+/tnZ2WSMstbg6vr6+vj6/IGhwNrj7ff393KVub+/v0Z1o////wAAAAAAACH5BAEAAB0ALAAAAAAcACAAAAW9YCeOGDaeaFWhpwU5HOdAFtsRy7YtBJtMsSBnkkA1CjpdoXE6CIRCwWE0SFo3g5EGCtWIHoBrEvDoULhcSkcitko6BjTU0EG0k4jORS68BO5WAVt8MRoZgEkZg4SGiDqKhIWHjpCRjZSLfJeIlYyTnJlym4Cdmp+koWijd6Wip6ypXKttraqvtLFdt2K1srtXvbqOG8FCs7y5xr9WxUHHwMnOy4nRksPN1piRHM/MDNsMf44BCtsKEWGAABEhADs=);
	background-position: -21px 0px;
	background-repeat: no-repeat;
	width: 7px;
}

/* 页舌 关闭按钮 */
.ewa_tab .ewa_tab_close {
	margin-left: 4px;
}

.ewa_tab .ewa_tab_close:after {
	content: "\f00d";
	font-family: FontAwesome;
}